<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid" id="navContainer">
        <a class="navbar-brand" href="/"
          ><img
            src="./img/A-List Logo.png"
            alt="A-List Collection"
            id="nav_img"
        /></a>
        <a href="/">A-List Collections</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon bg-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Signup/signup.html">Sign-In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>