#nav_img {
  height: 80px;
}

.navbar a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color:#AFC1D0 ;
}

.navbar-toggler-icon {
  color: white;
}

body {
  margin: 0;
  background-color: white; /* For browsers that do not support gradients */
  background-image: radial-gradient(
    farthest-side at 85% 50%,
    #94a6b4,
    #1c3f60,
    black
  );
}

h5 {
  color: white;
  font-family: "Rubik Mono One", sans-serif;
}

h1 {
  color: white;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 70px;
}
.btn {
  justify-content: center;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-5 {
  background-image: linear-gradient(
    to right,
    #94a6b4 0%,
    #1c3f60 51%,
    #afc1d0 100%
  );
}

.shape {
  height: 500px;
  width: 500px;
  background-color: #94a6b4;
  border-radius: 25px;
  opacity: 40%;
}
