<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>

<header>
  <%- include('./partials/header'); %>
</header>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>KEEP TRACK OF YOUR FAVORITE PLAYERS</h1>
      <a class="btn btn-5" href="search.html">Search for a player</a>
    </div>
    <div class="col">
      <div class="shape">
        <img src="./img/cards.png" alt="" />
      </div>
    </div>
  </div>
</div>


<!-- <footer>
  <%- include('./partials/footer'); %>
</footer> -->

</body>
</html>